[flake8]
max-line-length = 88
max-doc-length = 88
extend-ignore = E501
extend-select = E123,E126,E24,E704,W504,B950
extend-exclude = 
    .dvc,
    .ipynb_checkpoints,
    .pytest_cache,
    .vscode,
    data,
    env,
    great_expectations,
    info,
    mlruns,
    notebooks,    
    pyttmp,
    reports,
    tmp
statistics = True
count = True
max-complexity = 15
require-plugins = flake8-bugbear