.ipynb_checkpoints/
.vscode/
__pycache__/
.pytest_cache/
env/
info/
data_check_results/
reports/*
!reports/model_report.md
pyttmp/
.coverage
*.log
*.db
*.pt
*.pth
models/*
mlruns/*
hyper_opt/*
.metaflow/*
metaflow_card_cache/
monitoring/*
!monitoring/current_deployed_model.yaml
