.ipynb_checkpoints/
.vscode/
__pycache__/
.pytest_cache/
env/
info/
data_check_results/
reports/test_report
pyttmp/
.coverage
*.log
*.db
*.pt
*.pth
models/*
# !models/*_demo.pt
mlruns/*
.metaflow/*
metaflow_card_cache/
