# Require for python 3.9.13
-r data-check-requirements.txt
-r deployment-requirements.txt
-r test-requirements.txt
-r train-requirements.txt
bandit==1.7.4
dvc==2.20.1
flake8==6.0.0
flake8-bugbear==22.12.6
flake8-docstrings==1.6.0
isort==5.11.3
# Uncomment for macOS and Linux:
# metaflow==2.7.20
pre-commit==2.20.0
yamllint==1.28.0
